body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.blurb{
    margin: auto;
    padding: 10px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.upload-choices {
    font-size: 14px;
}

.result-label {
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.sp-widget {
    font-size: 14px;
}


@media screen and (max-width: 900px) {
  .upload-choices, .result-label, .sp-widget {
    width: 100%;
    height: auto;
	padding:0;
  }
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
	margin: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.content {
    margin-top: 2em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}


button.choose-file-button {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button.analyze-button {
    width: 300px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}