body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.blurb{
    margin: auto;
    padding: 10px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.upload-choices {
    font-size: 14px;
}

/* .result-label {
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
} */

.sp-widget {
    font-size: 14px;
}


/* @media screen and (max-width: 900px) {
  .upload-choices, .result-label, .sp-widget {
    width: 100%;
    height: auto;
	padding:0;
  }
} */

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
	margin: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.content {
    margin-top: 2em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

button.choose-file-button {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button.analyze-button {
    width: 100%;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button.playlist-button {
    width: 100%;
	height: 35px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}