body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.upload-choices {
    float: left;
    padding-left: 50px;
	padding-top: 50px;
	width:30%;
    font-size: 14px;
}


.blurb{
    margin: auto;
    padding: 10px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    font-size: 14px;
}

.sp-widget {
    float: left;
	padding-left: 10px;
    padding-top: 50px;
	width:30%;
    font-size: 14px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  upload-choices, result-label, sp-widget {
    width: 100%;
    height: auto;
  }
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
	margin: auto;
	text-align: center;
}

.content {
    margin-top: 2em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    float: left;
    padding-left: 40px;
	padding-top: 50px;
	width:30%;
    font-size: 13px;
}

button.choose-file-button {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button.analyze-button {
    width: 300px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}